<div class="login">
      <h1>Login page</h1>
       <% if(message){ %>
       		<div><%= message%></dic>
       <%}%>
      <form method="post" action="/auth/login">
        <p><input type="text" name="username" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <button type='submit'>submit</button>
      </form>
</div>